@font-face {
  font-family: openSans;
  src: url("../font/open_sans/OpenSans-Regular.ttf"); }
body {
  margin: 0; }

#mylohr-dashboard {
  font-family: 'openSans'; }
  #mylohr-dashboard .dashboard-header {
    background: #fff;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1);
    box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1); }
    #mylohr-dashboard .dashboard-header ul {
      padding: 10px 20px;
      margin-bottom: 0;
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 0; }
      #mylohr-dashboard .dashboard-header ul li {
        display: inline-block;
        padding: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #mylohr-dashboard .dashboard-header ul li img {
          width: 140px; }
        #mylohr-dashboard .dashboard-header ul li .ui.search {
          width: 100%; }
          #mylohr-dashboard .dashboard-header ul li .ui.search .ui.input {
            width: 100%; }
            #mylohr-dashboard .dashboard-header ul li .ui.search .ui.input .prompt {
              background-color: #f8f8f8;
              border: solid 1px #eaeaea;
              color: #9b9b9b; }
            #mylohr-dashboard .dashboard-header ul li .ui.search .ui.input i {
              color: #9b9b9b;
              font-size: 20px; }
        #mylohr-dashboard .dashboard-header ul li .subtitle-header {
          font-style: italic;
          font-size: 13px;
          color: #d00000; }
        #mylohr-dashboard .dashboard-header ul li .separator-header {
          border-right: 1px solid #e8e8e8;
          padding-right: 27px; }
        #mylohr-dashboard .dashboard-header ul li a {
          margin: 10px;
          text-decoration: none; }
          #mylohr-dashboard .dashboard-header ul li a i {
            color: #000000;
            font-size: 20px; }
  #mylohr-dashboard .dashboard-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f9f9f9;
    min-height: 100vh; }
    #mylohr-dashboard .dashboard-body .main {
      width: 80%;
      margin: auto;
      margin-top: 40px; }
      #mylohr-dashboard .dashboard-body .main__body ul li {
        width: 315px;
        padding: 20px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; }
      #mylohr-dashboard .dashboard-body .main__body ul a {
        -webkit-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out;
        width: 100%;
        background: #fff;
        border-radius: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 12px;
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1);
        box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1); }
      #mylohr-dashboard .dashboard-body .main__body ul a:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        padding: 2px; }
        #mylohr-dashboard .dashboard-body .main__body ul a:hover img {
          -webkit-transform: scale(1.05);
          transform: scale(1.05); }
        #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
          background-color: #f1f1f1;
          position: absolute;
          right: 27px;
          top: 14px;
          -webkit-transform: scale(1.2);
          transform: scale(1.2); }
      #mylohr-dashboard .dashboard-body .main__body ul img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        position: relative;
        z-index: 1;
        background: white;
        border-radius: 100px;
        padding: 5px; }
      #mylohr-dashboard .dashboard-body .main__body ul .wrap-text {
        -webkit-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out;
        width: 67%;
        height: 75%;
        background-color: #fff;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        right: 13px;
        top: 17px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px; }
      #mylohr-dashboard .dashboard-body .main__body ul span {
        color: #4a4a4a;
        font-weight: bold;
        font-size: 15px;
        width: 95px;
        margin-left: 27%; }
  #mylohr-dashboard ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; }
  #mylohr-dashboard a {
    text-decoration: none; }

@media screen and (max-width: 1024px) {
  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    right: 8.5%; }
  #mylohr-dashboard .dashboard-body .main__body ul li {
    width: 43%; }
    #mylohr-dashboard .dashboard-body .main__body ul li span {
      width: 55%;
      margin-left: 34%;
      font-size: 14px; } }
@media screen and (max-width: 768px) {
  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    right: 8.5%; }
  #mylohr-dashboard .dashboard-body .main__body ul li {
    width: 100%;
    padding: 20px 0px; }
    #mylohr-dashboard .dashboard-body .main__body ul li span {
      font-size: 18px;
      width: 50%;
      margin-left: 27%; }

  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    right: 8%; }
  #mylohr-dashboard .dashboard-body .main__body ul li {
    width: 100%;
    padding: 20px 0px; }
    #mylohr-dashboard .dashboard-body .main__body ul li .wrap-text {
      width: 71%; }
    #mylohr-dashboard .dashboard-body .main__body ul li span {
      width: 54%;
      margin-left: 20%;
      font-size: 16px; } }
@media screen and (max-width: 581px) {
  #mylohr-dashboard .dashboard-body .main__body ul li {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
    #mylohr-dashboard .dashboard-body .main__body ul li span {
      width: 50%;
      margin-left: 27%;
      font-size: 18px; } }
@media screen and (max-width: 400px) {
  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    top: 12.5%; }
  #mylohr-dashboard .dashboard-body .main__body ul li {
    width: 100%;
    padding: 20px 0px; }
    #mylohr-dashboard .dashboard-body .main__body ul li span {
      margin-left: 43%;
      font-size: 15px; }
  #mylohr-dashboard .dashboard-body .main__body ul img {
    width: 90px;
    height: 90px; }

  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    right: 8.5%; }
  #mylohr-dashboard .dashboard-body .main__body ul li span {
    width: 55%;
    margin-left: 35%;
    font-size: 15px; } }
@media screen and (max-width: 300px) {
  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    right: 9.5%; }
  #mylohr-dashboard .dashboard-body .main__body ul li span {
    width: 50%;
    margin-left: 43%;
    font-size: 12px; } }
