#mylohr-dashboard {
  font-family: 'Open Sans', sans-serif; }
  #mylohr-dashboard .dashboard-header {
    background: #fff;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1);
    box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1); }
    #mylohr-dashboard .dashboard-header ul {
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 0;
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 0; }
      #mylohr-dashboard .dashboard-header ul li {
        display: inline-block;
        padding: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #mylohr-dashboard .dashboard-header ul li img {
          width: 140px; }
        #mylohr-dashboard .dashboard-header ul li .ui.search {
          width: 100%; }
          #mylohr-dashboard .dashboard-header ul li .ui.search .ui.input {
            width: 100%; }
            #mylohr-dashboard .dashboard-header ul li .ui.search .ui.input .prompt {
              background-color: #f8f8f8;
              border: solid 1px #eaeaea;
              color: #9b9b9b; }
            #mylohr-dashboard .dashboard-header ul li .ui.search .ui.input i {
              color: #9b9b9b;
              font-size: 20px; }
        #mylohr-dashboard .dashboard-header ul li .subtitle-header {
          font-style: italic;
          font-size: 13px;
          color: #d00000; }
        #mylohr-dashboard .dashboard-header ul li .separator-header {
          border-right: 1px solid #e8e8e8;
          padding-right: 27px; }
        #mylohr-dashboard .dashboard-header ul li a {
          margin: 10px;
          text-decoration: none; }
          #mylohr-dashboard .dashboard-header ul li a i {
            color: #000000;
            font-size: 20px; }
  #mylohr-dashboard .dashboard-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f9f9f9;
    min-height: 100vh; }
    #mylohr-dashboard .dashboard-body .main {
      width: 80%;
      margin: auto;
      margin-top: 40px; }
      #mylohr-dashboard .dashboard-body .main__body ul li {
        width: 355px;
        padding: 20px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex; }
      #mylohr-dashboard .dashboard-body .main__body ul a {
        -webkit-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out;
        width: 100%;
        background: #fff;
        border-radius: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 12px;
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1);
        box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1); }
      #mylohr-dashboard .dashboard-body .main__body ul a:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        padding: 2px; }
        #mylohr-dashboard .dashboard-body .main__body ul a:hover img {
          -webkit-transform: scale(1.05);
          transform: scale(1.05); }
        #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
          background-color: #f1f1f1;
          position: absolute;
          right: 29px;
          top: 13px;
          -webkit-transform: scale(1.2);
          transform: scale(1.2); }
      #mylohr-dashboard .dashboard-body .main__body ul img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        position: relative;
        z-index: 1;
        background: white;
        border-radius: 100px;
        padding: 5px; }
      #mylohr-dashboard .dashboard-body .main__body ul .wrap-text {
        -webkit-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out;
        width: 75%;
        height: 75%;
        background-color: #fff;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        right: 13px;
        top: 13px;
        padding-left: 80px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px; }
      #mylohr-dashboard .dashboard-body .main__body ul span {
        color: #4a4a4a;
        font-weight: bold;
        font-size: 15px;
        width: 95px; }
  #mylohr-dashboard ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; }
  #mylohr-dashboard a {
    text-decoration: none; }

@media screen and (max-width: 1024px) {
  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    right: 32px; }
  #mylohr-dashboard .dashboard-body .main__body ul li {
    width: 400px; }
    #mylohr-dashboard .dashboard-body .main__body ul li span {
      right: 0;
      left: 80px;
      width: auto; } }
@media screen and (max-width: 768px) {
  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    right: 26px; }
  #mylohr-dashboard .dashboard-body .main__body ul li {
    width: 49%;
    padding: 20px 15px; }
    #mylohr-dashboard .dashboard-body .main__body ul li span {
      left: 83px; } }
@media screen and (max-width: 581px) {
  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    right: 31px; }
  #mylohr-dashboard .dashboard-body .main__body ul li {
    width: 100%;
    padding: 20px 0px; }
    #mylohr-dashboard .dashboard-body .main__body ul li span {
      right: 45px; } }
@media screen and (max-width: 400px) {
  #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
    right: 28px; }
  #mylohr-dashboard .dashboard-body .main__body ul li {
    width: 100%;
    padding: 20px 0px; }
    #mylohr-dashboard .dashboard-body .main__body ul li span {
      right: 45px;
      width: 90%; } }
