#mylohr-dashboard {
  font-family: 'Open Sans', sans-serif; }
  #mylohr-dashboard .dashboard-header {
    background: #fff;
    width: 100%;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1); }
    #mylohr-dashboard .dashboard-header ul {
      padding: 10px 20px;
      margin-bottom: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-top: 0; }
      #mylohr-dashboard .dashboard-header ul li {
        display: inline-block;
        padding: 0 10px;
        display: flex;
        align-items: center; }
        #mylohr-dashboard .dashboard-header ul li:nth-of-type(1) {
          width: 15%; }
        #mylohr-dashboard .dashboard-header ul li:nth-of-type(2) {
          width: 20%; }
        #mylohr-dashboard .dashboard-header ul li:nth-of-type(3) {
          width: 10%;
          justify-content: flex-end; }
        #mylohr-dashboard .dashboard-header ul li:nth-of-type(4) {
          width: 35%; }
        #mylohr-dashboard .dashboard-header ul li:nth-of-type(5) {
          width: 10%;
          justify-content: center; }
          #mylohr-dashboard .dashboard-header ul li:nth-of-type(5) a:nth-of-type(1) i {
            color: #d00000; }
        #mylohr-dashboard .dashboard-header ul li:nth-of-type(6) {
          width: 10%;
          justify-content: center; }
        #mylohr-dashboard .dashboard-header ul li img {
          width: 140px; }
        #mylohr-dashboard .dashboard-header ul li .ui.search {
          width: 100%; }
          #mylohr-dashboard .dashboard-header ul li .ui.search .ui.input {
            width: 100%; }
            #mylohr-dashboard .dashboard-header ul li .ui.search .ui.input .prompt {
              background-color: #f8f8f8;
              border: solid 1px #eaeaea;
              color: #9b9b9b; }
            #mylohr-dashboard .dashboard-header ul li .ui.search .ui.input i {
              color: #9b9b9b;
              font-size: 20px; }
        #mylohr-dashboard .dashboard-header ul li .subtitle-header {
          font-style: italic;
          font-size: 13px;
          color: #d00000; }
        #mylohr-dashboard .dashboard-header ul li .separator-header {
          border-right: 1px solid #e8e8e8;
          padding-right: 27px; }
        #mylohr-dashboard .dashboard-header ul li a {
          margin: 10px;
          text-decoration: none; }
          #mylohr-dashboard .dashboard-header ul li a i {
            color: #000000;
            font-size: 20px; }
  #mylohr-dashboard .dashboard-body {
    display: flex;
    background: #f9f9f9; }
    #mylohr-dashboard .dashboard-body .sidemenu {
      width: 20%;
      padding-left: 10px;
      margin-top: 40px; }
      #mylohr-dashboard .dashboard-body .sidemenu ul {
        width: 85%; }
        #mylohr-dashboard .dashboard-body .sidemenu ul li {
          margin-bottom: 17px; }
          #mylohr-dashboard .dashboard-body .sidemenu ul li .mylohr-accordion {
            position: relative; }
            #mylohr-dashboard .dashboard-body .sidemenu ul li .mylohr-accordion .title {
              width: 100%;
              background: #fff;
              border-radius: 100px;
              display: flex;
              align-items: center;
              padding: 9px 15px;
              position: relative;
              z-index: 1;
              box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1); }
              #mylohr-dashboard .dashboard-body .sidemenu ul li .mylohr-accordion .title .ion-md-arrow-dropdown {
                position: absolute;
                right: 5px; }
            #mylohr-dashboard .dashboard-body .sidemenu ul li .mylohr-accordion .content {
              width: 100%;
              background: #f2f2f2;
              padding: 17px 0;
              padding-left: 10px;
              border-radius: 5px; }
              #mylohr-dashboard .dashboard-body .sidemenu ul li .mylohr-accordion .content li {
                margin-bottom: 7px; }
                #mylohr-dashboard .dashboard-body .sidemenu ul li .mylohr-accordion .content li.active span {
                  color: #d00000 !important; }
              #mylohr-dashboard .dashboard-body .sidemenu ul li .mylohr-accordion .content i {
                margin-right: 10px; }
              #mylohr-dashboard .dashboard-body .sidemenu ul li .mylohr-accordion .content span {
                color: #808080; }
              #mylohr-dashboard .dashboard-body .sidemenu ul li .mylohr-accordion .content::before {
                content: "";
                width: 100%;
                height: 25px;
                background: #f2f2f2;
                position: absolute;
                top: 17px;
                left: 0; }
          #mylohr-dashboard .dashboard-body .sidemenu ul li a {
            display: flex;
            align-items: center;
            padding: 7px 15px; }
          #mylohr-dashboard .dashboard-body .sidemenu ul li i {
            width: fit-content;
            color: #d00000;
            font-size: 21px;
            margin-right: 15px; }
          #mylohr-dashboard .dashboard-body .sidemenu ul li span {
            color: #4a4a4a;
            font-size: 14px; }
    #mylohr-dashboard .dashboard-body .main {
      width: 80%;
      margin-top: 40px; }
      #mylohr-dashboard .dashboard-body .main__header .title h2 {
        color: #4a4a4a; }
      #mylohr-dashboard .dashboard-body .main__header .title .breadcrumb i {
        color: #d00000; }
      #mylohr-dashboard .dashboard-body .main__header .title .breadcrumb .active {
        color: #d00000; }
      #mylohr-dashboard .dashboard-body .main__header .title .breadcrumb span {
        color: #4a4a4a; }
      #mylohr-dashboard .dashboard-body .main__body {
        height: 100vh; }
        #mylohr-dashboard .dashboard-body .main__body ul li {
          width: 30%;
          padding: 20px;
          display: inline-flex; }
        #mylohr-dashboard .dashboard-body .main__body ul a {
          transition: .3s all ease-in-out;
          width: 100%;
          background: #fff;
          border-radius: 100px;
          display: flex;
          align-items: center;
          padding: 12px;
          position: relative;
          overflow: hidden;
          box-shadow: 0 0 10px 0 rgba(215, 222, 227, 0.39), 0 13px 45px 0 rgba(51, 59, 69, 0.1); }
        #mylohr-dashboard .dashboard-body .main__body ul a:hover {
          transform: scale(1.2);
          padding: 2px; }
          #mylohr-dashboard .dashboard-body .main__body ul a:hover img {
            transform: scale(1.05); }
          #mylohr-dashboard .dashboard-body .main__body ul a:hover .wrap-text {
            background-color: #f1f1f1;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            right: 27px;
            top: 13px;
            padding-right: 25px;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            transform: scale(1.2); }
        #mylohr-dashboard .dashboard-body .main__body ul img {
          width: 100px;
          height: 100px;
          margin-right: 10px;
          position: relative;
          z-index: 1;
          background: white;
          border-radius: 100px;
          padding: 5px; }
        #mylohr-dashboard .dashboard-body .main__body ul .wrap-text {
          transition: .3s all ease-in-out;
          width: 75%;
          height: 75%;
          background-color: #fff;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          right: 13px;
          top: 13px;
          padding-right: 25px;
          border-top-right-radius: 100px;
          border-bottom-right-radius: 100px; }
        #mylohr-dashboard .dashboard-body .main__body ul span {
          color: #4a4a4a;
          font-weight: bold;
          font-size: 15px;
          width: 95px; }
  #mylohr-dashboard ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; }
  #mylohr-dashboard a {
    text-decoration: none; }
