@mixin main_body_xxs() {
    #mylohr-dashboard .dashboard-body .main__body ul {
        a:hover{
            .wrap-text{
                top: 12.5%;
            }
        }
        li{
            width: 100%;
            padding: 20px 0px;

            span{
                margin-left: 43%;
                font-size: 15px;
            }
        }
        img{
            width: 90px;
            height: 90px;
        }
    }
}

@mixin font_and_image_xxs {
    #mylohr-dashboard .dashboard-body .main__body ul {
        a:hover{
            .wrap-text{
                right: 9.5%;
            }
        }
        li{
            span{
                width: 50%;
                margin-left: 43%;
                font-size: 12px;
            }
        }
    }
}

@mixin main_body_xs() {
    #mylohr-dashboard .dashboard-body .main__body ul {
        a:hover{
            .wrap-text{
                right: 8.5%;
            }
        }
        li{
            span{
                width: 55%;
                margin-left: 35%;
                font-size: 15px;
            }
        }
    }
}

@mixin main_body_500 {
    #mylohr-dashboard .dashboard-body .main__body ul {
        li{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            span{
                width: 50%;
                margin-left: 27%;
                font-size: 18px;
            }
        }
    }
}

@mixin main_body_s() {
    #mylohr-dashboard .dashboard-body .main__body ul {
        a:hover{
            .wrap-text{
                right: 8.5%;
            }
        }
        li{
            width: 100%;
            padding: 20px 0px;

            span{
                font-size: 18px;
                width: 50%;
                margin-left: 27%;
            }
        }
    }
}

@mixin main_body_ms() {
    #mylohr-dashboard .dashboard-body .main__body ul {
        a:hover{
            .wrap-text{
                right: 8%;
            }
        }
        li{
            width: 100%;
            padding: 20px 0px;
            .wrap-text{
                width: 71%;
            }
            span{
                width: 54%;
                margin-left: 20%;
                font-size: 16px;
            }
        }
    }
}

@mixin main_body_m() {
    #mylohr-dashboard .dashboard-body .main__body ul {
        a:hover{
            .wrap-text{
                right: 8.5%;
            }
        }
        li{
            width: 43%;

            span{
                width: 55%;
                margin-left: 34%;
                font-size: 14px;
            }
        }
    }
}